<!DOCTYPE html>
<html>
<head>

<title>Inventario Inteligente</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<header>
    <h1>🤖 Sistema Inteligente de Inventario</h1>
</header>

<div class="container">

<div class="card">

<h2>Panel Principal</h2>

<p>
Control de inventario con Python, Flask y Machine Learning.
</p>

<br>

<a href="/productos" class="btn">
Ver Productos
</a>
<a href="/dashboard" class="btn">
📊 Dashboard IA
</a>

<a href="/movimiento" class="btn">
    📦 Registrar Movimiento
</a>

</div>

</div>

</body>
</html>